# Week 3: Writing your own SQL queries

In [ ]:

SELECT radius, t_eff 
FROM Star
WHERE radius > 1;

In [ ]:
SELECT kepler_id , t_eff 
FROM Star
WHERE t_eff BETWEEN 5000 AND 6000;

In [ ]:
SELECT kepler_name  , radius  
FROM Planet 
WHERE
 radius BETWEEN 1 AND 3 AND
  kepler_name IS NOT NULL;

In [ ]:
SELECT MIN(radius), MAX(radius), AVG(radius),STDDEV(radius)
FROM Planet
WHERE kepler_name is NULL;

In [ ]:
SELECT kepler_id, COUNT(koi_name) 
FROM Planet 
GROUP BY kepler_id HAVING COUNT(koi_name) > 1
ORDER BY COUNT(koi_name) DESC;

In [ ]:
SELECT s.radius AS sun_radius,
  p.radius AS planet_radius
FROM Star AS s, Planet AS p
WHERE s.kepler_id = p.kepler_id AND
  s.radius > p.radius 
ORDER BY S.radius DESC;

In [ ]:
SELECT Star.radius, COUNT(Planet.koi_name)
FROM Star
JOIN Planet USING (kepler_id)
WHERE Star.radius >= 1
GROUP BY Star.kepler_id
HAVING COUNT(Planet.koi_name) > 1
ORDER BY Star.radius DESC;

In [ ]:
SELECT s.kepler_id, s.t_eff, s.radius
FROM Star AS s
LEFT OUTER JOIN Planet AS p USING (kepler_id)
WHERE p.koi_name is NULL
ORDER BY t_eff DESC;

In [ ]:
SELECT p.koi_name, p.radius, s.radius
FROM Star AS s
JOIN Planet AS p USING (kepler_id)
WHERE s.kepler_id IN (
  SELECT kepler_id
  FROM Star
  ORDER BY radius DESC
  LIMIT 5
);